.dashboard-container {
  display: flex;
  min-height: 100vh; /* Use min-height to ensure it adapts to content */
  background-color: var(
    --gray-bg
  ); /* Match the overall grey background of sections */
  margin-left: 240px; /* same as sidebar width */
}

.dashboard-main {
  flex: 1;
  padding: 24px;
  background-color: var(
    --gray-bg
  ); /* Keep the main dashboard background consistent with the container */
  overflow-y: auto;
}

.dashboard-main h1 {
  font-size: 3rem; 
  color: var(--dark-text); 
  margin-bottom: 30px; 
  text-align: left; 
}

.patient-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); 
  gap: 30px; 
  max-width: 100%; 
  margin: 0 auto; 
}
